.notice
  margin 1rem 0
  padding 1rem
  border-radius 0.25rem

  & p
    margin 0

  &.notice-green
    background-color hsl(120, 100%, 85%)

  &.notice-orange
    background-color hsl(35, 100%, 85%)

  &.notice-red
    background-color hsl(0, 100%, 85%)
